<div id="container">
  <h1 class="text" >This Button Has</h1>
  <h1 class="text" >Been Clicked</h1>
  <div class="text"  id="click_num"><%= @button.clicks %></div>
<!--  <h1 class="text" >Times</h1>-->

<!--  <h2>Maybe you should give it a click!</h2>-->

<!--  <button class="btn">Click Me!</button>-->
  <%=button_to  "Click here", buttons_click_path, method: :post %>
</div>